TIDB_HOST='gateway01.ap-southeast-1.prod.aws.tidbcloud.com'
TIDB_PORT='4000'
TIDB_USER='3g6Rnquyyz9UyD8.root'
TIDB_PASSWORD='6k1AQedllqSECyNJ'
TIDB_DB_NAME='test'
OPENAI_API_KEY='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'